::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
}
body {
    background: #f0f0f0;
    font-family: Barlow, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
