$max-width: 1600px;
$col-gap: 40px;
$primary-color: #1b74e4;
$primary-color-hover: #0875fb;
$primary-color-light: #add2ff;
$text-color: #404040;
$lightgray-color: rgb(238, 238, 238);
$black-color: #000;
$white-color: #fff;
