@font-face {
  font-family: 'Viettel';
  src: url('../fonts/default_medium.ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Viettel';
  src: url('../fonts/default_medium_italic.ttf');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Viettel';
  src: url('../fonts/default.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Viettel';
  src: url('../fonts/default_italic.ttf');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Viettel';
  src: url('../fonts/default_bold.ttf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Viettel';
  src: url('../fonts/default_bold_italic.ttf');
  font-weight: 700;
  font-style: italic;
}
